{% extends '::base.html.twig' %}

{% block pageCss %}
    <style>
        .dashboard-card-icon i {
            float: left;
            color: #cbd4e0;
            font-size: 26px;
            margin-left: 10px;
            margin-right: 10px;
            display: inline;
        }
        .dashboard-stat{
            height: 110px;
        }
    </style>
{% endblock %}

{% block bodyClass %}page-header-fixed page-sidebar-closed-hide-logo ppage-sidebar-closed-hide-logo{% endblock %}
{% block body %}

    {% block header %}

        <div class="page-header navbar navbar-fixed-top">

            <div class="page-header-inner">
                <div class="page-logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/backend/metronic/assets/admin/layout4/img/logo-light.png') }}"
                             alt="logo" class="logo-default"/>
                    </a>

                    {#<div class="menu-toggler sidebar-toggler">#}
                    {#</div>#}
                </div>

                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                   data-target=".navbar-collapse">
                </a>

                <div class="page-top">

                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                   data-close-others="true">
								<span class="username username-hide-on-mobile">
								{{ app.user.name }}
								</span>
                                    <img alt="" class="img-circle"
                                         src="{{ asset('bundles/backend/metronic/assets/admin/layout4/img/avatar.png') }}"/>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{{ path('logout') }}">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block container %}

        <div class="page-container">

            <div class="page-head">
                <div class="page-title">
                    <h1>Projeto Guarulhos
                        <small>Informações sobre a integração de Guarulhos à Sabesp</small>
                    </h1>
                </div>

            </div>

            <br><br>

            {% block content %}

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Informações</span>
                                </div>
                                <div class="desc">do Municipio</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Sistema</span>
                                </div>
                                <div class="desc">de Abastecimento</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i style="margin-left: -16px;" class="fa fa-tint"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Sistema</span>
                                </div>
                                <div class="desc">de Esgotamento</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Grandes</span></div>
                                <div class="desc">Clientes</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Força</span>
                                </div>
                                <div class="desc">de Trabalho</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Clientes</span>
                                </div>
                                <div class="desc">&nbsp;</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Faturamento</span>
                                </div>
                                <div class="desc">e Arrecadação</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-times"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Perdas</span></div>
                                <div class="desc">&nbsp;</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>Ativos</span>
                                </div>
                                <div class="desc">&nbsp;</div>
                            </div>
                        </a>
                    </div>
                </div>

            {% endblock %}

        </div>

    {% endblock %}


{% endblock %}

